.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    height: 100%;
    padding: 0;
}
body {
background-color: #0c122c;
background-image: url(images/bg-desktop.png);
background-repeat: no-repeat;
background-size: contain;
background-position:100% 100%;
text-align: center;
font-family: 'Raleway', sans-serif;
}

@media (min-width: 768px) and (max-width: 2800px) {
    body {
      background-image:url("images/bg-desktop.png");
    }
  }
@media (min-width: 320px) and (max-width: 767px) {
    body {
      background-image: url("images/bg-mobile.png");
      background-size: cover;
    }
    .fylo {
        width: 1000px;
    }
}
.canvas {
height: 100%;
display: flex;
justify-content: center;
align-items:center;
flex-direction: row;
flex-wrap: wrap;
}
.fylo {
    height: 25vmin;
    width: 44vmin;
    background-color:#1e2c69;
    border-radius: 8px 100px 8px 8px;
    margin-right: 3vmin;
    font-family: 'Raleway', sans-serif;
}
  #name {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
  }

.second {
    height: 19vmin;
    width: 68vmin;
    background-color:#1e2c69;
    margin-top: 6vmin;
    border-radius: 10px;
    padding: 5vmin 0 0 0;
    color: #fffffe;
    display: flex;
    flex-direction: column;
}

.white {
  height: 8vmin;  
  width: 22vmin;
  background-color: #fffffe;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  margin-top: -10vmin;
  margin-left: 32vmin;
  font-family: 'Raleway', sans-serif;
  position: absolute;
}

   #gbLeft {
    font-weight: 700;
    font-size: 5vmin;
    margin-left: -8vmin;
    color: #0c122c;
    position: absolute;
   }
   #left {
    font-weight: 700;
    color:#a6a7ac;
    font-size:10px ;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 0 10vmin;
   }

   .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 30px 0;
    border-color: transparent #fffffe transparent transparent;
    margin: 10.3vmin 0 0 17.9vmin;
      }

#logo {
    margin: 5vmin 15vmin 0 0;
    width: 40%;
}
.icons {
    height: 40%;
    width: 50%;
    margin: 2vmin 0 0 5vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconbg {
    background-color:hsl(229, 57%, 11%);    height: 30px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 2vmin;
}
  #document{
scale: 80%;
  }
  #folder {
scale: 80%;
  }
  #upload {
scale: 80%;
  }

@media (min-width: 320px) and (max-width:767px){
    .canvas {
        flex-direction: column;
    }
    .fylo {
        height:52vmin ;
        width: 86vmin;
        margin-top: -8vmin;
        margin-bottom: 0%;
    }
    .second {
        width: 86vmin;
        height: 34vmin;
    }
    .white {
        height: 20vmin;  
        width: 48vmin;
        background-color: #fffffe;
        border-radius: 13px;
        margin: 20vmin auto 0 auto ;
        display: flex;
        align-items: center;
        justify-content: center;
      }
}

.theText {
font-size: 14px;
font-weight: 400;
margin:2vmin 0 0 2vmin ;
color: hsl(229, 7%, 55%);
}
.otherText {
    font-weight: 400;
    color: hsl(243, 100%, 93%);
    font-size: 14px;
}

.progressBarBG {
    height: 2.5vmin;
    width: 57.5vmin;
    background-color:#151e47;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vmin;
    border-radius: 15px;
    display: flex;
    align-items: center;

}
.progressBar {
    height: 1.6vmin;
    width: 41vmin;
    margin: 0 0 0 0.4vmin;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 15px
}

.progressBarDot {
    height: 1.4vmin;
    width: 1.4vmin;
    border-radius: 50%;
    background-color: #fffffe;
}